html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}
#navbar {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}
#navbar ul {
    display: flex;
    margin: 10px 0px 10px auto;
    width: 55%;
    justify-content: space-evenly;
    list-style: none;
}
